
.hero {
    margin-top: 50px;
    padding: 100px 0 300px 0;
    color: var(--font-color-primary-white);
    background: var(--bg-gradient-color);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    z-index: 3;
}

.hero h1 {
    color: var(--font-color-primary-white);
    font-size: 50px;
    padding-top: 20px;
    font-weight: bold;
    font-family: var(--font-family);
    max-width: 650px;


}

.hero p {
    color: var(--font-color-primary-white);
    font-size: 20px;
    padding: 20px 0;
    line-height: 40px;
    font-family: var(--font-family);
    max-width: 650px;
}

.hero .flex {
    display: flex;
    gap: 50px;
}

.hero .flex-center{
    display: flex;
    justify-content: center;
}

.hero .flex-colum{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img {
    margin-top: 50px;
    max-width: 450px;
    max-height: 392px;
}

.hero-btn {
    height: 64px;
    width: 224px;
}

.hero .margin-right{
    padding-top: 30px;
    padding-bottom: 20px;
}


@media screen and (max-width: 760px) {
    .hero {
        padding: 30px 0 180px 0;

    }
    .hero h1{
        font-size: 30px;
        text-align: center;
    }
    .hero p{
        font-size: 15px;
        line-height: 30px;
    }

    .hero .flex{
        flex-direction: column;
        gap: 20px;
    }

    .hero img{
        max-width: 300px;
    }

    .hero-btn{
        height: 44px;
        width: 200px;
    }

}

