@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* CARD COMPONENT CUSTOM STYLES */
.custom-card-header {
    margin-bottom: 8px;
    display: flex;
    gap: .6rem;
    justify-content: flex-start !important;
    width: 100%;
    /* background-color: red; */
}

.image-container {
    width: 62px;
    height: 62px;
    /* margin-right: 1rem; */
    border: 1px solid var(--font-color);
    border-radius: 15px;
}

.imageSize {
    object-fit: fill;
    width: 72px;
    height: 72px;
}

.card-container {
    margin-bottom: 20px;
    max-width: 30rem !important;
    height: auto;

}

.card {
    border: none !important;
}

.card-body {
    padding: 0 !important;

}

.custom-card-title {
    margin: 0;
    color: var(--font-color);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    align-items: start;
}

.card-paragraph {
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .custom-card-title {
        font-size: 20px;
    }

    .image-container {
        width: 60px;
        height: 60px;
    }
    
    .card-paragraph {
        line-height: normal;
    }


  }
  