.footer {
    width: 100%;
    background: var(--font-color);
    color: var(--font-color-primary-white);
    font-family: var(--font-family);
    padding-top: 50px;
    padding-bottom: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer img {
    width: 300px;
}

.footer p {
    padding: 10px 0;
    font-size: 10px;
}

.footer span {
    font-size: 13px;
}

.social-icons{
    margin-bottom: 30px;
}

.social-icons p {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}

.social-icons a {
   margin: 0 15px;
}

.footer li {
    list-style-type: none;
    margin-top: 25px;
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-right: 40px;
    margin-right: 40px;
}


li:last-child {
    border-right: none;
}



.footer li a {
    color: var(--font-color-primary-white);
}

.copyright {
    margin-top: 70px;
}

.copyright  p{
    margin: 0;
    padding: 0;
    font-size: 11px;
}

@media screen and (max-width: 760px) {
    .footer img {
        width: 200px;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer span {
        font-size: 11px ;
    }

    .footer li {
        border: none;
        padding: 0;
    }
}