
.navigation {
    background: var(--font-color);
    padding: 8px 0;
}

.navigation ul li:last-child {
    padding-right: 70px;
}

.navigation ul li{
    padding-right: 30px;
}

.navigation a{
    color: var(--font-color-primary-white) !important;
}

.navigation a:hover{
    color:  #e4e4e2 !important;
}

.navigation .offcanvas {
    width: 230px !important;
    background-color: var(--font-color) !important;
    color: var(--font-color-primary-white) !important;
  }

.navigation btn-close{
    color: var(--font-color-primary-white) !important;
}

.navigation .navbar-toggler{
    outline: none!important;
    border: none !important;    
}

.navigation .navbar-toggler:focus{
    box-shadow: none !important;
}

.navigation .bton{
    background: transparent;
    border: none;
    outline: none;
}