body {
    overflow-x: hidden;
}

.navigation {
    background: var(--font-color);
    padding: 8px 0;
    z-index: 8;
}

.navigation ul li:last-child {
    padding-right: 70px;
}

.navigation ul li {
    padding-right: 30px;
}

.navigation a {
    color: var(--font-color-primary-white) !important;
}

.navigation a:hover {
    color: #e4e4e2 !important;
}

.navigation .offcanvas {
    width: 820px !important;
    background-color: var(--font-color) !important;
    color: var(--font-color-primary-white) !important;
}

.navigation btn-close {
    color: var(--font-color-primary-white) !important;
}

.navigation .navbar-toggler {
    outline: none !important;
    border: none !important;
}

.navigation .navbar-toggler:focus {
    box-shadow: none !important;
}

.navigation .bton {
    background: transparent;
    border: none;
    outline: none;
    /* fdojjfdfgs */
}

.navigation .flex {
    display: flex;
}

.btn-group {
    display: flex;
    gap: 20px;
}

.btn-primary {
    border-radius: 5px !important;
}

select {
    border-radius: 5px !important;
    /* width: 150px; */
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--font-color-primary-white) !important;
    color: var(--font-color);
    outline: none;
    border: none;
}

select .language-option {
    margin: 1rem;
}


@media screen and (max-width: 991px) {
    .navbar {
        width: 100vw !important;
    } 

    .navigation .offcanvas {
        width: 300px !important;
    }

    .navigation ul li {
        margin-bottom: 20px ;
    }

    .btn-group {
        flex-direction: column;
        gap: 20px;
    }

    select {
        height: 40px;
        width: 200px;
    }

    
}