@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  --font-family: 'Poppins', sans-serif;
  --font-color: #023642;
  --font-color-primary-white: #fbfbfa;
  --bg-gradient-color: linear-gradient(to bottom, #023642, #0c4653, #175665, #226777, #2d7989);
}

html {
  font-size: 16px;
}

.main-heading {
  font-family: var(--font-family);
  font-size: 52px;
  line-height: 65px;
  color: var(--font-color-primary-white);
}

.hero-bg-gradient-color {
  background-image: var(--bg-gradient-color);
}

.btn-primary {
    outline: none !important;
    border: none !important;
    width: 200px;
    height: 40px;
    color: var(--font-color) !important;
    background: var(--font-color-primary-white) !important;
}

.paragraph {
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;

}

.sections-title {
  font-size: 45px;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--font-color);
  margin-bottom: 20px;

}


/* .block-title {

}

.section-title{

} */

